{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Are you sure you want to delete this entry?</h1>
</div>
<p> You are about to delete {{ name }} in {{ formtype }}
</p>
<form method="POST">
<tr>
<td align="center"><input type=submit value=Delete name="submit"></td>
<td align="center"><input type=submit value=Cancel name="submit"></td>
</tr>
</form>
{% endblock %}
