{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Don't stay at home, go out and play!</h1>
</div>
<p class="lead">
    Please continue reading and you will not be smarter for it.
    This is just some useless filler that I wrote when I was
    bored. Since my writing skills are not top notch, you are
    likely not enjoying this little bit of text. In any case,
    I hope you enjoy this fun GUI to zap some visual stimuli!
</p>

{% endblock %}
