<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- scripts -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-flash-1.5.2/b-html5-1.5.2/datatables.min.css"/>
<script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
<script type="text/javascript" src="/static/js/plugins.js" defer></script>
<script type="text/javascript" src="/static/js/script.js" defer></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-flash-1.5.2/b-html5-1.5.2/datatables.min.js"></script>


<!-- styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Motyxia</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('home')}}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('core')}}">Core Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('projector')}}">Projector Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('ao')}}">Analog Output Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('monitor')}}">Monitor Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('indicator') }}">Indicator Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('background') }}">Background Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('stimuli') }}">Stimuli Setup</a>
              <a class="nav-item nav-link" href="{{ url_for('experiment') }}">Run Experiment</a>
              <a class="nav-item nav-link" href="{{ url_for('measurement')}}">Run Measurement</a>
              <a class="nav-item nav-link" href="{{ url_for('behavior')}}">Run Behavior</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
          </div>
      </div>
    </nav>
    <p></p>


    <!-- Begin page content -->
    <main id="content" role="main" class="container">

    <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
          {% if category == 'error' %}
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error: {{message}}</strong>
              </div>
          {% else %}
              <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
              </div>
          {% endif %}
    {% endfor %}
    </div>

    {% block content %}{% endblock %}

    </main>

  </div>
  <br></br>
  <hr>

  <!-- Footer -->
  <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        Motyxia - Visual Stimuli on the Fly!
      </div>
      <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script type=text/javascript>
      $(function() {
          $("div[data-toggle=fieldsetting]").each(function() {
              var $this = $(this);
              //only works if min_entries = 1
              var field_counter = 0;

              //Add new entry
              $this.find("button[data-toggle=fieldsetting-add-row]").click(function() {
                  var target = $($(this).data("target"));
                  var oldrow = target.find("[data-toggle=fieldsetting-entry]:last");
                  var row = oldrow.clone(true, true);
                  field_counter++;
                  var elem_num = parseInt(field_counter);
                  row.attr('data-id', elem_num);
                  row.find(":input").each(function() {
                      var elem_num = $(this).attr('id').match(/-[0-9]+-/)[0];
                      var elem_num = eval(elem_num.replace('-', '').replace('-', '')) + 1;
                      try {
                          var id = $(this).attr('name').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      }
                      catch(err) {
                          var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      }
                      $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                      try {
                          var subfieldtarget = $(this).attr('data-target').replace(
                              '-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                          $(this).attr('data-target', subfieldtarget);
                          console.log(this);
                      }
                      catch(err) {}
                  });
                  row.find("div[data-toggle=subfieldset]").each( function() {
                      console.log('here here');
                      var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + (elem_num) + '-');
                      $(this).attr('id', id);
                  });
                  row.show();
                  oldrow.after(row);
              }); //End add new entry

              //Remove row
              $this.find("button[data-toggle=fieldsetting-remove-row]").click(function() {
                  if($this.find("[data-toggle=fieldsetting-entry]").length > 1) {
                      var thisRow = $(this).closest("[data-toggle=fieldsetting-entry]");
                      thisRow.remove();
                      field_counter--;
                  }
              }); //End remove row
          });
      });
      $(function pageLoad() {
          $("div[data-toggle=subfieldset]").each(function() {
              // requires id to end with "list" as a name
              var $this = $(this);

              //Add new entry
              $this.find("button[data-toggle=subfieldset-add-row]").click(function() {
                  var target = $($(this).data("target"));
                  var oldrow = target.find("[data-toggle=subfieldset-entry]:last");
                  var row = oldrow.clone(true, true);
                  // requires that subfieldset ids end with list
                  row.find(":input").each(function() {
                      try {
                          var elem_num = $(this).attr('id').match(/-[0-9]+$/)[0];
                          var elem_num = eval(elem_num.replace('-', '')) + 1;
                          var before = new RegExp('-' + (elem_num - 1) + '$');
                          var after = ('-' + (elem_num));
                      }
                      catch(err) {
                          var elem_num = $(this).attr('id').match(
                              /-[0-9]+-remove$/)[0];
                          var elem_num = eval(
                              elem_num.replace('-', '').replace('-remove', '')
                          ) + 1;
                          var before = new RegExp('-' + (elem_num - 1) + '-remove$');
                          var after = ('-' + (elem_num) + '-remove');
                      }

                      try {
                          var id = $(this).attr('name').replace(
                              before, after);
                      }
                      catch(err) {
                          var id = $(this).attr('id').replace(
                              before, after);
                      }
                      $(this).attr('name', id).attr('id', id).val('').removeAttr("checked");
                  });
                  row.show();
                  oldrow.after(row);
              }); //End add new entry

              //Remove row
              $this.find("button[data-toggle=subfieldset-remove-row]").click(function() {
                  if($this.find("[data-toggle=subfieldset-entry]").length > 1) {
                      var thisRow = $(this).closest("[data-toggle=subfieldset-entry]");
                      thisRow.remove();
                  }
              }); //End remove row
          });
      });
  </script>

  <style>
    button {
        background-color: gray; /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
    }
    .buttonred {
        background-color: orangered;
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
    }
    .buttongreen {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
        }
    .buttonblack {
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
    }
    .buttonblue {
        background-color: navy; /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
    }
    a[class="toggle-vis"] {
        background-color: gray; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 6px;
        font-size: 10px;
    }
    .toggleon {
        background-color: gray; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 6px;
        font-size: 10px;
    }
    .toggleoff {
        background-color: white; /* Green */
        border: none;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 6px;
        font-size: 10px;
    }
    input[type=submit] {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 12px;
        font-size: 18px;
    }
    .inputred[type=submit] {
        background-color: orangered;
    }
    .inputblue[type=submit] {
        background-color: navy;
    }
    .inputblack[type=submit] {
        background-color: black;
    }

    .lired {
        color: orangered;
    }
    .ligreen {
        color: #4CAF50;
    }
    .licyan {
        color: cyan;
    }
  </style>


</body>
</html>
